@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {
    font-family: 'Patrick Hand', cursive;
}

 :root {
    --bg-color: #065d80;
    --text-color: #F3F6F5;
    font-size: 18px;
}

body {
    font-family: 'Patrick Hand', cursive;
    background-color: var(--bg-color);
    color: var(--text-color);
}

main {
    padding: 20 xp;
}

.encabezado h1 {
    text-align: center;
    width: 100%;
    font-size: 35px;
}

.search-form {
    margin: 20px 20px;
}

.searchbox {
    padding: 10px 20px;
    background-color: var(--text-color);
    max-width: 480px;
    margin: 0px auto;
    border-radius: 3px;
}

.search {
    width: 100%;
    background-color: var(--text-color);
    border: none;
    font-size: 1rem;
}

.search:focus {
    outline: none;
}

.weather-card {
    margin: 20px 20px;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 20px;
    text-align: center;
    border-radius: 3px;
    display: none;
}

.city {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.temperature {
    display: flex;
    align-items: center;
    justify-content: center;
}

.temp-img {
    width: 180px;
    margin-right: 10px;
}

.temp {
    font-size: 2.2rem;
    font-weight: bold;
}

.weather {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.grafico_gen {
    background-color: #c2c2c2;
    border: 2px solid black;
    margin: 50px 200px;
    visibility: hidden;
}

#myChart {
    width: 100%;
    height: 100%;
}

a {
    color: var(--text-color)
}

p {
    margin-bottom: 0.75rem;
    line-height: 1.2rem;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 20px 0px;
    border-top: 1px solid grey;
    width: 100%;
    text-align: center;
}