body{
    background-color: rgb(179, 212, 252);
}
.encabezado{
    font-size: 20px;
    margin-left: 750px;
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
}

.titulo{
    background-image: url("clima.jpg");
    height: 200px;
}

.pregunta{
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: aliceblue;
}

.pie{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 250px;
    color: navy;
}